@media (min-width: 1024px) {

.mainMenu li {
    padding-top: 20%
}

.img-right {
    margin-top: 15%;
    height: 30vh;  
}

.VR-container {
    margin-top: 5%;
}

.VR-text h2 {
    padding-top: 5%;
    font-size: 2rem;
}

.VR-text p {    
    font-size: 15px;
}

.creations-title {
    margin-top: 5%;
}

.creations-title h2 {
    font-size: 2rem;
}

.btn {
    margin-top: 5%;
}

.btn h4 {
    padding: 0;
    font-size: 15px;
}
}