@media(min-width: 766px){
    .logo{
        left: 40px;
    }
    .openMenu {
        right: 40px
    }
   .header-text {
       left: 40px;
   }
    .bottom-left {
        bottom: 70px
    }
    .landscape-img {
        margin-left: 20px;  
    }
    .bottom-left {
        left: 47px;
    }
}
