
*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}




a, li {
    list-style: none;
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%)
}


p {
    font-size: 15px;
    font-family: 'Alata', sans-serif;
    color: hsl(0, 0%, 55%);
    margin: 30px 20px 30px 20px;
    text-align: center;
    line-height: 1.6;

}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    text-align: center;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: hsl(0, 0%, 41%);
    text-align: center;
    padding: 0;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
}

h4 {
    border: 0.5px hsl(0, 0%, 0%);
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding: 5% 30% 5% 30%;

}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin: 15% 0% 0% 8%;
    z-index: 2;
}
.openMenu{
    display: block;
    cursor: pointer;
    margin: 50px 20px 0px 0px;
    background: transparent;
    border: none;
}

.mainMenu {
    display: none;
    
    
}

.showMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top:0;
    right: 0;
    left: 0;
    transition: top 1s ease;
}

.showMenu li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.closeMenu {
    margin-top: 20%;
    display: block;
    background: none;
    border: none;
}
.mainMenu li {
    padding: 15px;

}
 
header {
    background-image: url(/PUBLIC/images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    
}

.header-text {
    position: absolute;
    border: 1px solid white;
    margin: 50% 5% 30% 5%;
    padding: 5%;  
}

.header-text h1 {
    font-size: 2.8rem;
    text-align: left;
}


section {
    margin: 20% 5% 20% 5%;
}

.img-left img{
    display: block;
    width: 100%;
    margin-bottom: 5%;
}

.VR-text p{
    text-align: center;
}

.VR-text h2 {
    margin: 30px 5px 30px 5px;

}


.creations-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.creations-title h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10%;

}

.images-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.landscape-img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin-bottom: 5%;
    
}
.portrait-img {
    display: none;
}


.text-container {
position: relative;
color: white;
}

.bottom-left {
position: absolute;
bottom: 30px;
left: 16px;
}


.btn {
    display: block;
    text-align: center;
    margin-top: 5%;
}
.see-btn {
    background-color: transparent;
    width: 50%;
}


footer {
    background-color: hsl(0, 0%, 0%);
    border: 1px solid black;
    
}

.footer-container {
    margin: 0 5% 30% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer-logo {
display: flex;
justify-content: center;
margin-top: 15%;
}

.footer-links {
    display: block;
    text-align: center;
}

.footer-links li {
    margin-top: 15px;
    font-weight: 300;
}

.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.socials-container li{
    padding: 2%
}






